<div class="container-fluid footer-bg px-5 mtop">
   <div class=" d-flex justify-content-between center align-items-start flex-wrap">
      <div>
         <a class="navbar-brand logo" href="#">Fruitables</a>
         <p class="sub-head">Fresh products</p>
      </div>
   
         <div>
            <i class="bi bi-twitter icon"></i>
            <i class="bi bi-facebook icon"></i>
            <i class="bi bi-linkedin icon"></i>
            <i class="bi bi-youtube icon"></i>
         </div>
   </div>
  
      <div class="row">
         <div class="col-md-3">
            <h1 class="text-white">
               Why People Like us!
            </h1>
            <p class="text-white">
               typesetting, remaining essentially unchanged. It was popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.
            </p>
            <button class="btn">Read More</button>
         </div>
         
      
         <div class="col-md-3">
            <h1 class="text-white">
               Shop Info
            </h1>
            <ul class="text-white">
               <li>Shop Info</li>
               <li>Contact Us</li>
               <li>Privacy Policy</li>
               <li>Terms & Condition</li>
               <li>Return Policy</li>
               <li>FAQs & Help</li>
            </ul>
         </div>
         <div class="col-md-3">
            <h1 class="text-white">
               Account

            </h1>
            <ul class="text-white">
               <li>My Account</li>
               <li>Shop Details</li>
               <li>Shopping Cart</li>
               <li>Wishlist</li>
               <li>Order History</li>
               <li>International Orders</li>
            </ul>
         </div>
        
         <div class="col-md-3">
            <h1 class="text-white">
               Contact
            </h1>
            <p class="text-white">
               Address: 1429 Netus Rd, NY 48247 <br>
               Email: Example@gmail.com <br>
               Phone: +0123 4567 8910<br>
            </p>
         </div>
      </div>
      
      <p class="text-center text-white mt-5">Copyright @2024</p>
</div>

  
