
<div class="container-fluid px-5 nav-bg">
  <!-- <div class="container"> -->
    
    <!-- navbar starts -->
    <nav class="navbar sticky-top navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="#">Fruitables</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" routerLink="/home" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/shop">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/shop/id">Shop Detail</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Pages
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/cart">Cart</a></li>
                <li><a class="dropdown-item" routerLink="/checkout">Checkout</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="testimonial">Testimonial</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact">Contact</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

            <button class="btn text-white nav-btn" type="submit">Search</button>
            
          </form> 
        
          <a routerLink="/cart"><i class="bi bi-cart-fill icons m-3"></i></a>
          <div class="badge bg-dark badge-style">{{totalItem}}</div>
        
          <!-- <div *ngIf="isLoggedIn; else beforeLogIn">
            <button class="btn " >Logout</button>
        
          </div>
     <ng-template #beforeLogIn>
           
      <a routerLink="/cart"><i class="bi bi-cart-fill icons m-3"></i></a>
      <div class="badge bg-dark" style="font-size: 10px;">0</div>
      <a routerLink="/login" class="m-3" *ngIf="!isLoggedIn" >  Login</a>
      <a routerLink="/register" *ngIf="!isLoggedIn">Register</a>
     
     </ng-template> -->

     <!-- <ul>
  <li *ngFor="let item of filterItems()">
    {{ item.name }}
  </li>
</ul> -->

        </div>
      </div>
    </nav>

    <!-- navbar ends -->

  <!-- </div> -->

</div>
