
<div class="container-fluid contact">
    <h1 class="text-white text-center pd"> Contact </h1>
    
    <div>
        <ul>
            <li class="green-color">Home /</li>
            <li class="green-color">Pages /</li>
            <li class="text-white">Contact</li>
        </ul>
    </div>

   
</div>
<div class="container bg mt-5 mb-5 p-5">
    <div class="pt-5">
        <h1 class="green-color text-center">Get in touch</h1>
    <p class="text-center pd-left-right">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. Download Now.

    </p>
    <div class="row">
        <div class="col-md-7">
            <form class="pt-5">
                <div class="mb-3">
                    <!-- <label for="name" class="form-label">Your Name</label> -->
                    <input type="text" class="form-control" placeholder="Enter Your Name" >
                </div>
                <div class="mb-3">
                    <!-- <label for="email">Enter Your Email</label> -->
                    <input type="text" class="form-control" placeholder="Enter Your Email">
                </div>
                <div class="mb-3">
                    <textarea name="msg" id="msg" rows="5" class="form-control" placeholder="Your Message"></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn text">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-5 pt-5">
            <div class="small-div d-flex mb-4">
                <div><i class="bi bi-geo-alt-fill icon mx-3"></i></div>
                <div>
                    <h3>Address</h3>
                    <p>123 Street New York.USA</p>
                </div>
            </div>
            <div class="small-div d-flex mb-4">
                <div><i class="bi bi-envelope-fill icon mx-3"></i></div>
                <div>
                    <h3>Mail Us</h3>
                    <p>info@example.com</p>
                </div>
            </div>
            <div class="small-div d-flex">
                <div><i class="bi bi-telephone-fill icon mx-3"></i></div>
                <div>
                    <h3>Telephone</h3>
                    <p>(+012) 3456 7890</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
