
  <div class="container-fluid px-5 pt-5 " *ngIf="products.length!=0">
    <div class="card-table">
      <table class="table table-bordered" >
        <thead>
          <tr>
            <th> Sr.No</th>
            <th> Product Name	</th>
            <th> Product Image	</th>
            <th> Description </th>
            <th> Price</th>
            <th> Quantity</th>
            <th> Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of products; let i = index;">
          <tr>
            <td>{{i+1}}</td>
            <td>{{item.name}}	</td>
            <td><img src="{{item.img}}" alt="" ></td>
            <td> {{item.title}}</td>
            <td>{{item.price}}</td>
            
            <td>
              <!-- <button (click)="increament(item)">+</button> -->
              {{item.quantity}}
              <!-- <button (click)="decrement(item)">-</button>   -->
            </td>
            <td><button class="btn btn-danger" (click)="removeItemsById(item)"><i class="bi bi-trash3-fill"></i></button></td>
           
          </tr>
       
        </tbody>
        <td colspan="4"></td>
          <td><button class="btn btn-danger" (click)="removeAllItems()">Empty Cart</button></td>
          <td><button class="btn btn-success" routerLink="/card">Shop More</button><td>
          <td><button class="btn btn-warning text-white">Checkout</button></td>
          <td><strong>Grand total:{{grandTotal | currency: 'INR': 'symbol': '3.0'}}</strong></td>
      </table>
    </div>


  
  </div>
  
  <div class="center" *ngIf="products.length === 0">
    <h4>Your cart is empty.!!!!</h4>
    <h6>Add items to cart</h6>
    <button class="btn btn-dark" routerLink="/card">Shop Now</button>
  </div>
