<div class="container-fluid px-5 pt-2 mb-5 margin-t">
    <div class="wrapper">
        <div class="card card1"  >
            <img src="./assets/images/featur-1.jpg" alt="" class="img-fluid"> 
            <div class="card-body card-body1">                  
                 <div class="bg1">
                    <h1 class="text-white">Fresh Apples</h1>
                    <h1 class="h1Color">20% OFF</h1>
                 </div>                              
            </div>
          </div>    
          <div class="card card2"  >
            <img src="./assets/images/featur-2.jpg" alt="" class="img-fluid"> 
            <div class="card-body card-body2">                  
                 <div class="bg2">
                    <h1 class="bg2-h1Color ">Testy Fruits</h1>
                    <h1 class="">Free Delivery</h1>
                 </div>                              
            </div>
          </div>   
          <div class="card card3"  >
            <img src="./assets/images/featur-3.jpg" alt="" class="img-fluid"> 
            <div class="card-body card-body3">                  
                 <div class="bg3">
                    <h1 class="text-white">Exotic Vegitable</h1>
                    <h1 class="h1Color">Discount 30$</h1>
                 </div>                              
            </div>
          </div> 
        </div>
        </div>
<br>