<div class="container-fluid  pt-5 bg-color">
    <div class="row px-5">
        <div class="col-md-6">

            <h1 class="font-h1"><span class="text-white font">Fresh Exotic <br> Fruits<br></span>in Our Store
            </h1>
            <br>
            <p>
                The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic words etc.


            </p>
            <button type="button" class="btn">
                BUY
            </button>
        </div>
        <div class="col-md-6">
            <img src="./assets/images/baner-1.png" alt="banner" width="80%">
         
                <!-- <p class="circle text-center mt-2">1
                    <sup>50$</sup><sub>Kg</sub></p> -->
         
        </div>
    </div>

</div>