.btn {
    background-color: #81C408;
}
.mt {
    padding-top: 2rem;
}
.bg {
    background-color: #81C408;
    height: 100vh;

}
.form {
    width: 40%;
    background-color: white;
    padding: 60px 25px 60px 25px
}
.form-control {
  
    border: 1px solid #81C408;
   
}

@media screen and (max-width: 480px) {
    .form {
        width: auto;
    }
}