<div class="conatiner-fluid bg">
  <div class="container ">
    <div class="row d-flex justify-content-center mt">

      <form class="form  border " [formGroup]="registerForm" (ngSubmit)="register()">
        <h1 class="text-center">Register </h1><br>
        <div class="form-floating mb-3">

          <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="name"
            formControlName="name" >
          <label for="name" class="form-label">Name</label>
          
          </div>
        <br>
        <div class="form-floating mb-3">

          <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
            placeholder="name@example.com" formControlName="username">
          <label for="username" class="form-label">Email address</label>
          
        </div>
        <br>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <label for="password" class="form-label">Password</label>

        
        </div>

        <div>
          <button type="submit " class="btn text-white">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>